@import '~office-ui-fabric-react/dist/sass/References.scss';

.icon{
  width: 18px;
  height: 20px;
  margin-left: 10px;
}
.botons{
  margin-top: 10px;
  margin-bottom: 15px;
}
.client>span{
  margin-right: 2.2%;
}
.client{
  margin-bottom: 10px;
}
.taulahores{
  margin-top: 30px;
}
.taula{
  margin-top: 20px;
}
.totals{
  margin-top: 15px;

}
.title{
  font-size: 30px;
    color: #13304e;

}
.buttonChange{
  
}